/*----------------------------------------*/
/*  SPACE CSS START
/*----------------------------------------*/

.my-80 {
    margin: 80px 0;
    @include media-query(1599px) {
        margin: 70px 0;
    }
    @include media-query(1399px) {
        margin: 60px 0;
    }
    @include media-query(1199px) {
        margin: 50px 0;
    }
    @include media-query(991px) {
        margin: 40px 0;
    }
    @include media-query(767px) {
        margin: 35px 0;
    }
}
.mt-80 {
    margin-top: 80px;
    @include media-query(1599px) {
        margin-top: 70px;
    }
    @include media-query(1399px) {
        margin-top: 60px;
    }
    @include media-query(1199px) {
        margin-top: 50px;
    }
    @include media-query(991px) {
        margin-top: 40px;
    }
    @include media-query(767px) {
        margin-top: 35px;
    }
}
.mb-80 {
    margin-bottom: 80px;
    @include media-query(1599px) {
        margin-bottom: 70px;
    }
    @include media-query(1399px) {
        margin-bottom: 60px;
    }
    @include media-query(1199px) {
        margin-bottom: 50px;
    }
    @include media-query(991px) {
        margin-bottom: 40px;
    }
    @include media-query(767px) {
        margin-bottom: 35px;
    }
}

.my-64 {
    margin: 64px 0;
    @include media-query(1599px) {
        margin: 56px 0;
    }
    @include media-query(1399px) {
        margin: 50px 0;
    }
    @include media-query(1199px) {
        margin: 45px 0;
    }
    @include media-query(991px) {
        margin: 38px 0;
    }
    @include media-query(767px) {
        margin: 30px 0;
    }
}
.mt-64 {
    margin-top: 64px;
    @include media-query(1599px) {
        margin-top: 56px;
    }
    @include media-query(1399px) {
        margin-top: 50px;
    }
    @include media-query(1199px) {
        margin-top: 45px;
    }
    @include media-query(991px) {
        margin-top: 38px;
    }
    @include media-query(767px) {
        margin-top: 30px;
    }
}
.mb-64 {
    margin-bottom: 64px;
    @include media-query(1599px) {
        margin-bottom: 56px;
    }
    @include media-query(1399px) {
        margin-bottom: 50px;
    }
    @include media-query(1199px) {
        margin-bottom: 45px;
    }
    @include media-query(991px) {
        margin-bottom: 38px;
    }
    @include media-query(767px) {
        margin-bottom: 30px;
    }
}

.m-48 {
    margin: 48px 0;
    @include media-query(1599px) {
        margin: 45px 0;
    }
    @include media-query(1399px) {
        margin: 42px 0;
    }
    @include media-query(1199px) {
        margin: 38px 0;
    }
    @include media-query(991px) {
        margin: 32px 0;
    }
    @include media-query(767px) {
        margin: 24px 0;
    }
}
.mt-48 {
    margin-top: 48px;
    @include media-query(1599px) {
        margin-top: 45px;
    }
    @include media-query(1399px) {
        margin-top: 42px;
    }
    @include media-query(1199px) {
        margin-top: 38px;
    }
    @include media-query(991px) {
        margin-top: 32px;
    }
    @include media-query(767px) {
        margin-top: 24px;
    }
}
.mb-48 {
    margin-bottom: 48px;
    @include media-query(1599px) {
        margin-bottom: 45px;
    }
    @include media-query(1399px) {
        margin-bottom: 42px;
    }
    @include media-query(1199px) {
        margin-bottom: 38px;
    }
    @include media-query(991px) {
        margin-bottom: 32px;
    }
    @include media-query(767px) {
        margin-bottom: 24px;
    }
}

.m-40{
    margin: 40px 0;
    @include media-query(1199px) {
        margin: 32px 0;
    }
    @include media-query(991px) {
        margin: 28px 0;
    }
    @include media-query(767px) {
        margin: 22px 0;
    }
}
.mt-40{
    margin-top: 40px;
    @include media-query(1199px) {
        margin-top: 32px;
    }
    @include media-query(991px) {
        margin-top: 28px;
    }
    @include media-query(767px) {
        margin-top: 22px;
    }
}
.mb-40{
    margin-bottom: 40px;
    @include media-query(1199px) {
        margin-bottom: 32px;
    }
    @include media-query(991px) {
        margin-bottom: 28px;
    }
    @include media-query(767px) {
        margin-bottom: 22px;
    }
}
.mb-36{
    margin-bottom: 36px;
    @include media-query(1199px) {
        margin-bottom: 32px;
    }
    @include media-query(991px) {
        margin-bottom: 28px;
    }
    @include media-query(767px) {
        margin-bottom: 22px;
    }
}
.mt-32 {
    margin-top: 32px;
    @include media-query(1599px) {
        margin-top: 29px;
    }
    @include media-query(1399px) {
        margin-top: 27px;
    }
    @include media-query(1199px) {
        margin-top: 25px;
    }
    @include media-query(991px) {
        margin-top: 22px;
    }
    @include media-query(767px) {
        margin-top: 20px;
    }
}
.mb-32 {
    margin-bottom: 32px;
    @include media-query(1599px) {
        margin-bottom: 29px;
    }
    @include media-query(1399px) {
        margin-bottom: 27px;
    }
    @include media-query(1199px) {
        margin-bottom: 25px;
    }
    @include media-query(991px) {
        margin-bottom: 22px;
    }
    @include media-query(767px) {
        margin-bottom: 20px;
    }
}
.mb-30 {
    margin-bottom: 30px;
    @include media-query(1199px) {
        margin-bottom: 28px;
    }
    @include media-query(991px) {
        margin-bottom: 24px;
    }
    @include media-query(767px) {
        margin-bottom: 20px;
    }
}
.mb-24 {
    margin-bottom: 24px;
    @include media-query(1199px) {
        margin-bottom: 22px;
    }
    @include media-query(991px) {
        margin-bottom: 22px;
    }
    @include media-query(767px) {
        margin-bottom: 20px;
    }
}
.mt-24 {
    margin-top: 24px;
    @include media-query(1199px) {
        margin-top: 22px;
    }
    @include media-query(991px) {
        margin-top: 22px;
    }
    @include media-query(767px) {
        margin-top: 20px;
    }
}
.mb-20 {
    margin-bottom: 20px;
    @include media-query(1199px) {
        margin-bottom: 18px;
    }
    @include media-query(991px) {
        margin-bottom: 16px;
    }
    @include media-query(767px) {
        margin-bottom: 14px;
    }
}
.mb-16 {
    margin-bottom: 16px;
    @include media-query(1199px) {
        margin-bottom: 15px;
    }
    @include media-query(991px) {
        margin-bottom: 14px;
    }
    @include media-query(767px) {
        margin-bottom: 12px;
    }
}
.mb-12 {
    margin-bottom: 12px;
    @include media-query(1199px) {
        margin-bottom: 11px;
    }
    @include media-query(991px) {
        margin-bottom: 10px;
    }
    @include media-query(767px) {
        margin-bottom: 8px;
    }
}

.mb-8 {
    margin-bottom: 8px;
    @include media-query(767px) {
        margin-bottom: 4px;
    }
}
.mt-8 {
    margin-top: 8px;
}
.mb-4p {
    margin-bottom: 4px;
}

// ----Padding ----

.py-160 {
    padding: 160px 0;
    @include media-query(1599px) {
        padding: 140px 0;
    }
    @include media-query(1399px) {
        padding: 120px 0;
    }
    @include media-query(1199px) {
        padding: 100px 0;
    }
    @include media-query(991px) {
        padding: 80px 0;
    }
    @include media-query(767px) {
        padding: 70px 0;
    }
}
.py-80 {
    padding: 80px 0;
    @include media-query(1599px) {
        padding: 70px 0;
    }
    @include media-query(1399px) {
        padding: 60px 0;
    }
    @include media-query(1199px) {
        padding: 50px 0;
    }
    @include media-query(991px) {
        padding: 40px 0;
    }
    @include media-query(767px) {
        padding: 35px 0;
    }
}
.pt-80 {
    padding-top: 80px;
    @include media-query(1599px) {
        padding-top: 70px;
    }
    @include media-query(1399px) {
        padding-top: 60px;
    }
    @include media-query(1199px) {
        padding-top: 50px;
    }
    @include media-query(991px) {
        padding-top: 40px;
    }
    @include media-query(767px) {
        padding-top: 35px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @include media-query(1599px) {
        padding-bottom: 70px;
    }
    @include media-query(1399px) {
        padding-bottom: 60px;
    }
    @include media-query(1199px) {
        padding-bottom: 50px;
    }
    @include media-query(991px) {
        padding-bottom: 40px;
    }
    @include media-query(767px) {
        padding-bottom: 35px;
    }
}

.py-64 {
    padding: 64px 0;
    @include media-query(1599px) {
        padding: 56px 0;
    }
    @include media-query(1399px) {
        padding: 50px 0;
    }
    @include media-query(1199px) {
        padding: 45px 0;
    }
    @include media-query(991px) {
        padding: 38px 0;
    }
    @include media-query(767px) {
        padding: 30px 0;
    }
}
.pt-64 {
    padding-top: 64px;
    @include media-query(1599px) {
        padding-top: 56px;
    }
    @include media-query(1399px) {
        padding-top: 50px;
    }
    @include media-query(1199px) {
        padding-top: 45px;
    }
    @include media-query(991px) {
        padding-top: 38px;
    }
    @include media-query(767px) {
        padding-top: 30px;
    }
}
.pb-64 {
    padding-bottom: 64px;
    @include media-query(1599px) {
        padding-bottom: 56px;
    }
    @include media-query(1399px) {
        padding-bottom: 50px;
    }
    @include media-query(1199px) {
        padding-bottom: 45px;
    }
    @include media-query(991px) {
        padding-bottom: 38px;
    }
    @include media-query(767px) {
        padding-bottom: 30px;
    }
}


.py-48 {
    padding: 48px 0;
    @include media-query(1599px) {
        padding: 45px 0;
    }
    @include media-query(1399px) {
        padding: 42px 0;
    }
    @include media-query(1199px) {
        padding: 38px 0;
    }
    @include media-query(991px) {
        padding: 32px 0;
    }
    @include media-query(767px) {
        padding: 26px 0;
    }
}
.pt-48 {
    padding-top: 48px;
    @include media-query(1599px) {
        padding-top: 45px;
    }
    @include media-query(1399px) {
        padding-top: 42px;
    }
    @include media-query(1199px) {
        padding-top: 38px;
    }
    @include media-query(991px) {
        padding-top: 32px;
    }
    @include media-query(767px) {
        padding-top: 26px;
    }
}
.pb-48 {
    padding-bottom: 48px;
    @include media-query(1599px) {
        padding-bottom: 45px;
    }
    @include media-query(1399px) {
        padding-bottom: 42px;
    }
    @include media-query(1199px) {
        padding-bottom: 38px;
    }
    @include media-query(991px) {
        padding-bottom: 32px;
    }
    @include media-query(767px) {
        padding-bottom: 26px;
    }
}

.py-40{
    padding: 40px 0;
    @include media-query(1599px) {
        padding: 36px 0;
    }
    @include media-query(1399px) {
        padding: 32px 0;
    }
    @include media-query(1199px) {
        padding: 28px 0;
    }
    @include media-query(991px) {
        padding: 24px 0;
    }
    @include media-query(767px) {
        padding: 20px 0;
    }
}
.pt-40{
    padding-top: 40px;
    @include media-query(1599px) {
        padding-top: 36px;
    }
    @include media-query(1399px) {
        padding-top: 32px;
    }
    @include media-query(1199px) {
        padding-top: 28px;
    }
    @include media-query(991px) {
        padding-top: 24px;
    }
    @include media-query(767px) {
        padding-top: 20px;
    }
}
.pb-40{
    padding-bottom: 40px;
    @include media-query(1599px) {
        padding-bottom: 36px;
    }
    @include media-query(1399px) {
        padding-bottom: 32px;
    }
    @include media-query(1199px) {
        padding-bottom: 28px;
    }
    @include media-query(991px) {
        padding-bottom: 24px;
    }
    @include media-query(767px) {
        padding-bottom: 20px;
    }
}
.py-32{
    padding: 32px 0;
    @include media-query(1599px) {
        padding: 30px 0;
    }
    @include media-query(1399px) {
        padding: 28px 0;
    }
    @include media-query(1199px) {
        padding: 26px 0;
    }
    @include media-query(991px) {
        padding: 24px 0;
    }
    @include media-query(767px) {
        padding: 22px 0;
    }
}
.pt-32{
    padding-top: 32px;
    @include media-query(1599px) {
        padding-top: 30px;
    }
    @include media-query(1399px) {
        padding-top: 28px;
    }
    @include media-query(1199px) {
        padding-top: 26px;
    }
    @include media-query(991px) {
        padding-top: 24px;
    }
    @include media-query(767px) {
        padding-top: 22px;
    }
}
.pb-32{
    padding-bottom: 40px;
    @include media-query(1599px) {
        padding-bottom: 30px;
    }
    @include media-query(1399px) {
        padding-bottom: 28px;
    }
    @include media-query(1199px) {
        padding-bottom: 26px;
    }
    @include media-query(991px) {
        padding-bottom: 24px;
    }
    @include media-query(767px) {
        padding-bottom: 22px;
    }
}


.p-24 {
    padding: clamp(16px, 1.25vw, 40px);
    @include media-query(991px) {
        padding: clamp(14px, 1.25vw, 40px);
    }
    @include media-query(575px) {
        padding: 12px;
    }
}
.p-16 {
    padding: 16px;
    @include short-query(992px , 1199px) {
        padding: 15px;
    }
    @include short-query(768px , 991px) {
        padding: 13px;
    }
    @include media-query(767px) {
        padding: 10px;
    }
    @include media-query(490px) {
        padding: 10px;
    }
}
