/*----------------------------------------*/
/*  Banner CSS START
/*----------------------------------------*/
.hero-banner-1 {
    position: relative;
    height: 100vh;
    background: url(../media/banner/hero-1-main-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $white;
    @include media-query(1199px) {
        background: url(../media/banner/banner-tab-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @include media-query(575px) {
        background: url(../media/banner/banner-mobile-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .title {
        position: absolute;
        font-size: clamp(120px, 15.417vw, 350px);
        color: $white;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: -0.308vw;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -56%);
        @include media-query(575px) {
            font-size: 20.93vw;
            transform: translate(-50%, calc(-50% - 20.93vw));
        }
    }
    .content {
        position: relative;
        z-index: 3;
        height: 100vh;
        display: grid;
        align-content: end;
        justify-content: center;
        padding-bottom: 11.042vw;
        @include media-query(1199px) {
            padding-bottom: 30.042vw;
        }
        .sub-title{
            margin-bottom: clamp(16px, 1.66vw, 40px);
        }
    }
    .find-banner-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: clamp(12px, 0.833vw, 18px);
        gap: clamp(16px, 1.25vw, 28px);
        border-radius: 20px;
        width: fit-content;
        border: 1px solid rgba(170, 170, 170, 0.34);
        background: rgba(255, 252, 250, 0.05);
        box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.05), 7px 6px 9px 0px rgba(0, 0, 0, 0.04), 15px 13px 12px 0px rgba(0, 0, 0, 0.03), 26px 23px 14px 0px rgba(0, 0, 0, 0.01), 41px 37px 15px 0px rgba(0, 0, 0, 0);
        backdrop-filter: blur(15px);
        @include media-query(1199px) {
            justify-content: center;
        }
        @include media-query(575px) {
            flex-direction: column;
        }
        .form-group{
            width: 18.021vw;
            @include media-query(1199px) {
                width: 29vw;
            }
            @include media-query(575px) {
                width: 80vw;
            }
        }
    }
    .mask-layer{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        &.mask-layer-desktop {
            bottom: -7.031vw;
            @include media-query(1199px) {
                display: none;
            }
        }
        &.mask-layer-tab {
            bottom: -15vw;
            @include media-query-min(1200px) {
                display: none;
            }
            @include media-query(575px) {
                display: none;
            }
        }
        &.mask-layer-phone {
            bottom: -22.419vw;
            @include media-query-min(576px) {
                display: none;
            }
        }
    }
}

