.testimonial-card{
    margin-left: 12px;
    margin-right: 12px;
    .content{
        background: $white;
        position: relative;
        padding: clamp(16px, 1.25vw, 30px);
        .comment-icon{
            width: clamp(42px, 3.333vw, 80px);
        }
        .review{
            display: flex;
            flex-direction: column;
            gap: clamp(48px, 4.688vw, 100px);
            .reviewer{
                display: flex;
                align-items: center;
                gap: clamp(12px, 0.833vw, 20px);
                .reviewer-img{
                    width: clamp(42px, 3.333vw, 80px);
                    width: clamp(42px, 3.333vw, 80px);
                }
                .rating{
                    display: flex;
                    align-items: center;
                    gap: clamp(6px, 0.52vw, 14px);
                    i{
                        color: $accent-1;
                        font-size: clamp(12px, 0.94vw, 24px);
                    }
                }
            }
        }
    }
}
// Slick Slider Dots Style
.slick-dots {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    @include media-query(575px) {
        margin-top: 0;
    }
    li {
        position: relative;
        cursor: pointer;
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 16px;
            height: 4px;
            cursor: pointer;
            color: transparent;
            border: 0;
            border-radius: 5000px;
            outline: none;
            background: $black;
            &:hover,
            &:focus {
                outline: none;
            }
            &::before,
            &::after {
                opacity: 1;
            }
            &::before {
                opacity: 1;
            }
        }
        &.slick-active {
            button {
                background: $accent-1;
            }
        }
    }
}