{% load static %}
{% load i18n %}
<!-- Header start -->
<header id="ui-header">
    <div class="ui-header-inner container-fluid"> 
        <div class="ui-header-col">
            <div class="ui-logo"> 
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/media/logo.png' %}" style="width: 100px; height: 100px;" class="ui-logo-light" alt="Logo"> <!-- logo light -->
                    <img src="{% static 'assets/media/logo-dark.png' %}" class="ui-logo-dark" alt="Logo"> <!-- logo dark -->
                </a>
            </div>
        </div>
        <div class="ui-header-col">
            <!-- Begin overlay menu toggle button -->
            <div id="ui-ol-menu-toggle-btn-wrap">
                <div class="ui-ol-menu-toggle-btn-holder">
                    <a href="#" class="ui-ol-menu-toggle-btn"><span></span></a>
                </div>
                <div class="ui-ol-menu-toggle-btn-text">
                    <span class="text-menu h6 color-white" data-hover="{% trans 'OPEN' %}">{% trans 'MENU' %}</span>
                    <span class="text-close h6">{% trans 'CLOSE' %}</span>
                </div>
            </div>
            <div id="ui-ol-menu-toggle-btn-wrap" class="other_links">
                <a href="{% url 'country_houses' %}" class="h6 color-white ms-4" style="padding-top: 5px; padding-right: 5px; cursor: pointer;">{% trans 'COUNTRY HOUSES' %}</a>
            </div>
            <div id="ui-ol-menu-toggle-btn-wrap" class="other_links">
                <a href="{% url 'visa_booking' %}" class="h6 color-white ms-4" style="padding-top: 5px; padding-right: 5px; cursor: pointer;">{% trans 'VISA' %}</a>
            </div>
            <!-- <div id="ui-ol-menu-toggle-btn-wrap" class="other_links">
                <a href="{% url 'umrah_booking' %}" class="h6 color-white ms-4" style="padding-top: 5px; padding-right: 5px; cursor: pointer;">{% trans 'UMRAH' %}</a>
            </div> -->
            <!-- End overlay menu toggle button -->
        </div>

        <div class="ui-header-col">
            <!-- Begin overlay menu -->
            <nav class="ui-overlay-menu ui-ol-menu-center ui-ol-menu-count">
                <div class="ui-ol-menu-holder">
                    <div class="ui-ol-menu-inner ui-wrap">
                        <div class="">
                            <div class="container-fluid">
                                <div class="ui-ol-menu-content">
                                    <!-- Begin menu list -->
                                    <ul class="ui-ol-menu-list">
                                        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                        <li><a href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
                                        <!-- End submenu (sub-master) -->
                                        <li class="ui-ol-submenu-wrap">
                                            <div class="ui-ol-submenu-trigger">
                                                <a href="#">{% trans 'Bookings' %}</a>
                                                <div class="ui-ol-submenu-caret-wrap">
                                                    <div class="ui-ol-submenu-caret"></div>
                                                </div> 
                                            </div>
                                            <div class="ui-ol-submenu">
                                                <ul class="ui-ol-submenu-list">
                                                    <li><a href="{% url 'tour_booking' %}">{% trans 'Tour Booking' %}</a></li>
                                                    <li><a href="{% url 'country_house_booking' %}">{% trans 'Country House Booking' %}</a></li>
                                                    <li><a href="{% url 'visa_booking' %}">{% trans 'VISA Booking' %}</a></li>
                                                    <!-- <li><a href="{% url 'umrah_booking' %}">{% trans 'Umrah Booking' %}</a></li> -->
                                                </ul>
                                            </div> 
                                        </li>
                                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                                        <li><a href="{% url 'country_houses' %}">{% trans 'Country Houses' %}{{ get_locale }}</a></li>
                                        <li>
                                            <form class="show-on-mobile" action="{% url 'set_language' %}" method="post">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                                <div class="form-group">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% get_available_languages as LANGUAGES %}
                                                    {% get_language_info_list for LANGUAGES as languages %}
                                                    <select class="has-nice-select cus-form-control" name="language" id="lang">
                                                        <option disabled>Select Language</option>
                                                        {% for language in languages %}
                                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                            {{ language.name_local }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <button hidden type="submit"></button>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                    <!-- End menu list -->
                                    
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 

            </nav> 
            <!-- End overlay menu -->

            <!-- Being header tools -->
            <div class="ui-header-tools">
                <!-- <a href="javascript:;" class="ui-header-tools-item search-toggler"><i class="fa-regular fa-magnifying-glass"></i></a> -->
                <form class="hide-on-mobile" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <div class="form-group white-input" style="width: 10vw;">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <select class="has-nice-select cus-form-control" name="language" id="lang">
                            <option disabled>Select Language</option>
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                            {% endfor %}
                        </select>
                        <button hidden type="submit"></button>
                    </div>
                </form>
                <div class="ui-btn ui-btn-primary hide-on-mobile">
                    <a href="tel:{{ contact.phone_number }}" data-hover="{{ contact.phone_number }}">{{ contact.phone_number }}</a>
                </div>
            </div>
            <!-- End header tools -->

        </div> 
    </div> 
</header>
<!-- Header End -->