{% load static %}
<!-- Header start -->
<header id="ui-header">
    <div class="ui-header-inner container-fluid"> 
        <div class="ui-header-col">
            <div class="ui-logo"> 
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/media/logo.png' %}" class="ui-logo-light" alt="Logo"> <!-- logo light -->
                    <img src="{% static 'assets/media/logo-dark.png' %}" class="ui-logo-dark" alt="Logo"> <!-- logo dark -->
                </a>
            </div>
        </div>
        <div class="ui-header-col">
            <!-- Begin overlay menu toggle button -->
            <div id="ui-ol-menu-toggle-btn-wrap">
                <div class="ui-ol-menu-toggle-btn-holder">
                    <a href="#" class="ui-ol-menu-toggle-btn"><span></span></a>
                </div>
                <div class="ui-ol-menu-toggle-btn-text">
                    <span class="text-menu h6 color-white" data-hover="OPEN">MENU</span>
                    <span class="text-close h6">CLOSE</span>
                </div>
            </div>
            <!-- End overlay menu toggle button -->
        </div>

        <div class="ui-header-col">
            <!-- Begin overlay menu -->
            <nav class="ui-overlay-menu ui-ol-menu-center ui-ol-menu-count">
                <div class="ui-ol-menu-holder">
                    <div class="ui-ol-menu-inner ui-wrap">
                        <div class="">
                            <div class="container-fluid">
                                <div class="ui-ol-menu-content">
                                    <!-- Begin menu list -->
                                    <ul class="ui-ol-menu-list">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <!-- End submenu (sub-master) -->
                                        <li><a href="{% url 'tour_booking' %}">Tour Booking</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>

                                    </ul>
                                    <!-- End menu list -->
                                    
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 

            </nav> 
            <!-- End overlay menu -->

            <!-- Being header tools -->
            <div class="ui-header-tools">
                <!-- <a href="javascript:;" class="ui-header-tools-item search-toggler"><i class="fa-regular fa-magnifying-glass"></i></a> -->
                <div class="ui-btn ui-btn-primary hide-on-mobile">
                    <a href="{% url 'tour_booking' %}" data-hover="BOOK NOW">BOOK NOW</a>
                </div>
            </div>
            <!-- End header tools -->

        </div> 
    </div> 
</header>
<!-- Header End -->
