/*----------------------------------------*/
/*  Heading CSS START
/*----------------------------------------*/
.heading{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  text-align: center;
  justify-content: center;
  gap: clamp(12px, 0.833vw, 20px);
  @include media-query(575px) {
    flex-direction: column;
    align-items: center;
    gap: clamp(6px, 0.833vw, 12px);
  }
  h3{
    @include media-query(575px) {
      font-size: clamp(28px, 6.75vw, 36px);
    }
  }
}

