{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">ABOUT US</h1>
</section>
<!-- Page Header End-->

<!-- About Section Start -->
<section class="about-features-1 about-trigger-1 position-relative z-2">
    <div class="about-1">
        <div class="container-fluid">
            <div class="all-content">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-7">
                        <div class="text-block text-md-start text-center">
                            <h3 class="mb-8 font-sec color-primary">about us :</h3>
                            <h2 class="mb-24">WHERE PASSION<br> MEETS ADVENTURE,<br> FUELING YOUR<br> WANDERLUST DESIRES</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et. </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-5">
                        <div class="images-area">
                            <div class="images-block">
                                <div class="about-img-card box-blur-bg v-1">
                                    <img src="{% static 'assets/media/about/about-img-1.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-2">
                                    <img src="{% static 'assets/media/about/about-img-2.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-3">
                                    <img src="{% static 'assets/media/about/about-img-3.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-4">
                                    <img src="{% static 'assets/media/about/about-img-4.png' %}" alt="" class="b-radius-20">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- About Section Start -->
<section class="about-features-2 about-trigger-2 position-relative z-2" >
    <div class="about-2">
        <div class="container-fluid">
            <div class="all-content">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-7 order-md-2">
                        <div class="text-block text-md-start text-center">
                            <h3 class="mb-8 font-sec color-primary">about us :</h3>
                            <h2 class="mb-24">WE WANT TO GIVE THE BEST TOURS</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et. Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-5 order-md-1">
                        <div class="images-area">
                            <div class="images-block">
                                <div class="about-img-card box-blur-bg v-1">
                                    <img src="{% static 'assets/media/about/about-img-1.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-2">
                                    <img src="{% static 'assets/media/about/about-img-2.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-3">
                                    <img src="{% static 'assets/media/about/about-img-3.png' %}" alt="" class="b-radius-20">
                                </div>
                                <div class="about-img-card box-blur-bg v-4">
                                    <img src="{% static 'assets/media/about/about-img-4.png' %}" alt="" class="b-radius-20">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Video Area Start -->
<div class="py-64">
    <div class="container-fluid">
        <div class="box-blur-bg">
            <div class="bg-video b-radius-20">
                <video id="videoPlayer" loop playsinline muted>
                    <source src="{% static 'assets/media/inner-banner-video.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

</div>
<!-- Video Area End -->

<!-- Testimonials Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="heading mb-48">
            <h3 class="font-sec color-primary">testimonials :</h3>
            <h2>WHAT PEOPLE SAY ABOUT US!</h2>
        </div>
        <div class="testimonials-slider">
            <div class="testimonial-card mb-32 box-blur-bg">
                <div class="content b-radius-20">
                    <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        <div class="reviewer">
                            <img src="{% static 'assets/media/users/user_1.png' %}" alt="" class="reviewer-img">
                            <div>
                                <h6 class="mb-4p">Julia Fernandez</h6>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card mb-32 box-blur-bg">
                <div class="content b-radius-20">
                    <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        <div class="reviewer">
                            <img src="{% static 'assets/media/users/user_2.png' %}" alt="" class="reviewer-img">
                            <div>
                                <h6 class="mb-4p">Henry Patel</h6>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card mb-32 box-blur-bg">
                <div class="content b-radius-20">
                    <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        <div class="reviewer">
                            <img src="{% static 'assets/media/users/user_3.png' %}" alt="" class="reviewer-img">
                            <div>
                                <h6 class="mb-4p">Beckham Dsilva</h6>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card mb-32 box-blur-bg">
                <div class="content b-radius-20">
                    <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        <div class="reviewer">
                            <img src="{% static 'assets/media/users/user_4.png' %}" alt="" class="reviewer-img">
                            <div>
                                <h6 class="mb-4p">Rouge Redstar</h6>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card mb-32 box-blur-bg">
                <div class="content b-radius-20">
                    <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et.</p>
                        <div class="reviewer">
                            <img src="{% static 'assets/media/users/user_1.png' %}" alt="" class="reviewer-img">
                            <div>
                                <h6 class="mb-4p">Julia Fernandez</h6>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials End -->

<!-- Gallery Start -->
<section class="py-64">
    <div class="heading mb-48">
        <h3 class="font-sec color-primary">instagram :</h3>
        <h2>TRAVEL GALLERIES</h2>
    </div>
    <div class="gallery-slider">
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_1.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_2.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_3.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_4.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_5.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_6.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_1.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_2.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_3.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_4.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_5.png' %}" alt=""></a>
        <a href="#" class="gallery-img-block"><img src="{% static 'assets/media/gallery/gallery_6.png' %}" alt=""></a>
    </div>
</section>
<!-- Gallery End -->
{% endblock %}
