{% extends 'base.html' %}


{% block content %}
{% load static %}
{% load i18n %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">{% trans 'ABOUT US' %}</h1>
</section>
<!-- Page Header End-->

<!-- About Section Start -->
<section class="about-features-1 about-trigger-1 position-relative z-2">
    <div class="about-1">
        <div class="container-fluid">
            <div class="all-content">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-7">
                        <div class="text-block text-md-start text-center">
                            <h3 class="mb-8 font-sec color-primary">{% trans 'about us' %} :</h3>
                            <h2 class="mb-24">{% trans 'WHERE PASSION MEETS ADVENTURE, FUELING YOUR WANDERLUST DESIRES' %}</h2>
                            <p>{% trans 'Explore breathtaking landscapes, immerse in vibrant cultures, and create unforgettable memories with us. Tailored journeys for your dreams. Start your adventure today. Our dedicated team crafts personalized journeys, ensuring every detail reflects your dreams. Start your adventure today.' %}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-5">
                        <div class="images-area">
                            <div class="gallery-slider2">
                                {% for p in our_gallery %}
                                <div class="gallery-img-block"><img src="/media/{{ p.image }}" alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- About Section Start -->
<section class="about-features-2 about-trigger-2 position-relative z-2" >
    <div class="about-2">
        <div class="container-fluid">
            <div class="all-content">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-7 order-md-2">
                        <div class="text-block text-md-start text-center">
                            <h3 class="mb-8 font-sec color-primary">{% trans 'about us' %} :</h3>
                            <h2 class="mb-24">{% trans 'MESSAGE FROM THE CEO' %}</h2>
                            <p>{% trans "Welcome to East2West! As CEO, I'm thrilled to invite you to embark on unforgettable journeys with us. Our passion for travel drives us to create extraordinary experiences that immerse you in diverse cultures and breathtaking landscapes. Whether you seek adventure, relaxation, or cultural exploration, we're here to make your travel dreams a reality. Let's explore the world together!" %}</p>
                            <br>
                            <p>{% trans "Warm regards," %}<br>{% trans "Sayidillyos Khakimov Saidaziz" %}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-5 order-md-1">
                        <div class="images-area">
                            <div class="gallery-slider2">
                                {% for p in our_gallery %}
                                <div class="gallery-img-block"><img src="/media/{{ p.image }}" alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Video Area Start -->
<div class="py-64">
    <div class="container-fluid">
        <div class="box-blur-bg">
            <div class="bg-video b-radius-20">
                <video id="videoPlayer" loop playsinline muted>
                    <source src="{% static 'assets/media/inner-banner-video.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

</div>
<!-- Video Area End -->

<!-- Testimonials Start -->
<!-- <section class="py-64">
    <div class="container-fluid">
        <div class="heading mb-48">
            <h3 class="font-sec color-primary">testimonials :</h3>
            <h2>WHAT PEOPLE SAY ABOUT US!</h2>
        </div>
        <div class="testimonials-slider">
            {% for r in reviews %}
                <div class="testimonial-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                        <div class="review">
                            <p>{{ r.text }}</p>
                            <div class="reviewer">
                                <img src="/media/{{ r.user_photo }}" alt="" class="reviewer-img">
                                <div>
                                    <h6 class="mb-4p">{{ r.user_name }}</h6>
                                    <div class="rating">
                                        {% for s in reviews_range %}
                                        {% if r.stars > s %}
                                        <i class="fa-solid fa-star"></i>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section> -->
<!-- Testimonials End -->

<!-- Gallery Start -->
<section class="py-64">
    <div class="heading mb-48">
        <h3 class="font-sec color-primary">{% trans 'instagram' %} :</h3>
        <h2>{% trans 'TRAVEL GALLERIES' %}</h2>
    </div>
    <div class="gallery-slider">
        {% for p in gallery %}
        <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
        {% endfor %}
        {% for p in gallery %}
        <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
        {% endfor %}
    </div>
</section>
<!-- Gallery End -->
{% endblock %}
