{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">BLOGS</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_1.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_2.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_3.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_4.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_2.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_4.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_1.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_3.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6 d-xxl-none d-lg-block d-none">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_2.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination Start -->
            <ul class="pagination text-center">
                <li class="prev"><a href="#"><i class="fa-light fa-arrow-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="next"><a href="#"><i class="fa-light fa-arrow-right"></i></a></li>
            </ul>
            <!-- Pagination End -->
        </div>
    </div>
</section>
<!-- Blogs End -->
{% endblock %}