{% extends 'base.html' %}


{% block content %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">CONTACT</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="contact-us">
            <form method="post" action="{% url 'contact' %}" class="mb-64 contact-form">
                <div class="row form-block">
                    <div class="col-lg-5 col-md-6">
                        <div class="field-block">
                            <label for="name" class="h4">Hi My Name is</label>
                            <input type="text" name="name" id="name" required placeholder="Enter Your Name">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="field-block">
                            <label for="subject" class="h4">and I’m looking for</label>
                            <input type="text" name="subject" id="subject" required placeholder="Subject">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="field-block">
                            <label for="email" class="h4">You can contact me via</label>
                            <input type="email" name="email" id="email" required placeholder="enter your email">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="field-block">
                            <label for="tel" class="h4">or</label>
                            <input type="tel" name="tel" id="tel" placeholder="enter your number (optional)">
                        </div>
                    </div>
                    <div class="field-block">
                        <label for="message" class="h4">and i would like<br> to know</label>
                        <input type="text" name="message" id="message"  placeholder="enter your messages">
                        <div class="ui-btn ui-btn-primary">
                            <button type="submit" data-hover="SEND MESSAGE">SEND MESSAGE</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="box-blur-bg">
                <div class="b-radius-20 bg-white p-24 contact-block">
                    <div class="contact-info">
                        <div class="mb-48">
                            <h5 class="mb-12">CONTACT INFO</h5>
                            <p>P: <a href="tel:123456789">1300 337 446</a></p>
                            <p>E: <a href="mailto:info@mail.com">info@example.com</a></p>
                        </div>
                        <div class="mb-48">
                            <h5 class="mb-12">LOCATION</h5>
                            <p>L: 123 Main Street, Anytown, USA</p>
                            <p>L: 789 Oak Lane, Sunnyville, Australia</p>
                        </div>
                        <div>
                            <h5 class="mb-12">OPENING HOUR</h5>
                            <p><span class="me-5">MON-FRI</span>09am-5pm<span></span></p>
                            <p><span class="me-5">SAT-SUN</span>09am-5pm<span></span></p>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238291.857749356!2d19.545467107182017!3d56.780190963882944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e930677b8a9afd%3A0xcfcd68f2fc10!2sLatvia!5e0!3m2!1sen!2s!4v1709014880485!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
{% endblock %}