{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Hero Section Start -->
<style>
    #select_passengers {
        color: white;
    }
    #destination_input, #date_input {
        color: #FFFCFA;
    }
    .find-banner-row .form-group {
        width: 15vw !important;
    }
    .form-group button {
        color: #FFFCFA;
        border: 1px solid #FFFCFA;
        width: 100%;
        background: transparent;
        padding: 15px;
        height: clamp(42px, 2.917vw, 72px);
        display: flex;
        border-radius: 0.781vw;
        align-items: center;
    }
    .flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay {
        background: #F95C19;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        border-color: #F95C19;
    }
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
        -webkit-box-shadow: -10px 0 0 #F95C19;
        box-shadow: -10px 0 0 #F95C19
    }
    .flatpickr-day.week.selected {
        border-radius: 0;
        -webkit-box-shadow: -5px 0 0 #F95C19,5px 0 0 #F95C19;
        box-shadow: -5px 0 0 #F95C19,5px 0 0 #F95C19
    }
</style>
<section class="hero-banner-1 banner-content-parallax" id="hero">
    <div class="container-fluid">
        <h1 class="title banner-caption-title ph-appear">TRAVEL</h1>
        <div class="content">
            <div class="text-center sub-title">
                <h3 class="font-sec color-white">Travel where your heart takes you!</h3>
            </div>
            <form method="post" action="" class="tour-booking-form">
                {% csrf_token %}
                <div class="find-banner-row">
                    <div class="form-group white-input">
                        <select required name="departure" class="has-nice-select cus-form-control">
                            <option selected="selected" disabled="disabled">Select Departure</option>
                            {% for d in departures %}
                            <option value="{{ d.slug }}">{{ d.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group white-input">
                        <input required name="destination" id="destination_input" placeholder="Enter your destination" type="text">
                    </div>
                    <div class="form-group white-input">
                        <input required name="date" type="date" id="date_input" placeholder="Select Days">
                    </div>
                    <div class="form-group white-input">
                        <div class="nice-select2 cus-form-control" id="passengers_btn" tabindex="0">
                            <span class="current" id="passengers_text">Select Passengers</span>
                            <ul id="passengers_btn_list" class="list">
                                <li data-value="Select Passengers" class="option selected disabled focus" style="font-size: 17px;">Select Passengers</li>
                                <li class="option d-flex justify-content-between">
                                    <p>Adults (12+ y.o)</p>
                                    <div class="d-flex gap-2 align-items-center">
                                        <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                        <p style="font-size: 17px;" id="main_passenger">1</p>
                                        <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                    </div>
                                </li>
                                <hr style="color: #F95C19;">
                                <li class="option d-flex justify-content-between">
                                    <p>Children (2-11 y.o)</p>
                                    <div class="d-flex gap-2 align-items-center">
                                        <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                        <p style="font-size: 17px;" id="children">0</p>
                                        <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                    </div>
                                </li>
                                <hr style="color: #F95C19;">
                                <li class="option d-flex justify-content-between">
                                    <p>Babies (under 2 y.o)</p>
                                    <div class="d-flex gap-2 align-items-center">
                                        <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                        <p style="font-size: 17px;" id="babies">0</p>
                                        <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                    </div>
                                </li>
                                <li data-value="Service Class" class="option selected disabled focus" style="font-size: 17px;">Service Class</li>
                                <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                    <input name="economy" checked type="checkbox">
                                    <p>Economy</p>
                                </li>
                                <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                    <input name="comfort" type="checkbox">
                                    <p>Comfort</p>
                                </li>
                                <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                    <input name="business" type="checkbox">
                                    <p>Business</p>
                                </li>
                                <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                    <input name="first_grade" type="checkbox">
                                    <p>First Grade</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ui-btn ui-btn-primary">
                        <button type="submit" data-hover="FIND NOW">FIND NOW</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="{% static 'assets/media/banner/mask-layer.png' %}" alt="" style="width: 100%;" class="mask-layer mask-layer-desktop">
    <img src="{% static 'assets/media/banner/tabmask.png' %}" alt="" class="mask-layer mask-layer-tab">
    <img src="{% static 'assets/media/banner/mobilemask.png' %}" alt="" class="mask-layer mask-layer-phone">
</section>
<!-- Hero Section End --> 

<div class="about-trigger-1" id="page-content">
    <!-- About Section Start -->
    <section class="about-features-1 about-1 position-relative z-2">
        <div class="container-fluid">
            <div class="all-content">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-7">
                        <div class="text-block text-md-start text-center">
                            <h3 class="mb-8 font-sec color-primary">about us :</h3>
                            <h2 class="mb-24">WHERE PASSION<br> MEETS ADVENTURE,<br> FUELING YOUR<br> WANDERLUST DESIRES</h2>
                            <div class="ui-btn ui-btn-primary mx-auto ms-md-0">
                                <a href="{% url 'about' %}" data-hover="LEARN MORE">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-5">
                        <div class="images-area">
                            <div class="images-block">
                                {% for p in our_gallery %}
                                <div class="about-img-card box-blur-bg v-{{ forloop.counter }}">
                                    <img src="/media/{{ p.image }}" alt="" class="b-radius-20">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Tour Destinations Start -->
    <section class=" position-relative z-2 py-64">
        <div class="container-fluid">
            <div class="heading mb-48">
                <h3 class="font-sec color-primary">destinations :</h3>
                <h2>BEST TRAVEL PLACES</h2>
            </div>
            {% for d in destinations %}
            {% if forloop.counter|divisibleby:"2" %}
            <div class="row py-64 align-items-center">
                <div class="col-lg-6 ">
                    <div class="box-blur-bg mb-16 mb-lg-0">
                        <img src="/media/{{ d.image }}" alt="" class="b-radius-20">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="mb-8">{{ d.title }}</h2>
                    <p class="pe-sm-5">{{ d.text }}</p>
                </div>
            </div>
            {% else %}
            <div class="row py-64 align-items-center">
                <div class="col-lg-5 order-lg-1 order-2">
                    <h2 class="mb-8">{{ d.title }}</h2>
                    <p class="pe-sm-5">{{ d.text }}</p>
                </div>
                <div class="col-lg-6 offset-lg-1 order-lg-2 order-1">
                    <div class="box-blur-bg mb-16 mb-lg-0">
                        <img src="/media/{{ d.image }}" alt="" class="b-radius-20">
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- Tour Destinations End -->

    <!-- Discount Banner Start -->
    <section class=" position-relative z-2 py-64">
        <div class="container-fluid">
            <div class="box-blur-bg">
                <div class="discount-banner b-radius-20">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="img-block text-center">
                                <img src="{% static 'assets/media/banner/dicount-banner/main-object.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-1">
                            <div class="content">
                                <div class="text-block">
                                    <div class="title-block">
                                        <div class="discount-tag">
                                            <h2 class="color-white">30%</h2>
                                            <h4 class="color-white">OFF</h4>
                                        </div>
                                        <h1 class="mb-16 color-white position-relative z-3">INTERESTED?</h1>
                                    </div>
                                    <h5 class="mb-16 color-primary">DISCOUNT IF YOU BOOK NOW</h5>
                                    <p class="mb-48 color-white">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend <br>placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit <br>lorem. Ut felis velit tristique posuere tellus sed. </p>
                                    <div class="ui-btn ui-btn-primary">
                                        <a href="{% url 'tour_booking' %}" data-hover="GET IN TOUCH">GET IN TOUCH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount Banner End -->

    <!-- Testimonials Start -->
    <section class="py-64">
        <div class="container-fluid">
            <div class="heading mb-48">
                <h3 class="font-sec color-primary">testimonials :</h3>
                <h2>WHAT PEOPLE SAY ABOUT US!</h2>
            </div>
            <div class="testimonials-slider">
                {% for r in reviews %}
                <div class="testimonial-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <img src="{% static 'assets/media/icons/comment.png' %}" alt="" class="mb-16 comment-icon">
                        <div class="review">
                            <p>{{ r.text }}</p>
                            <div class="reviewer">
                                <img src="/media/{{ r.user_photo }}" alt="" class="reviewer-img">
                                <div>
                                    <h6 class="mb-4p">{{ r.user_name }}</h6>
                                    <div class="rating">
                                        {% for s in reviews_range %}
                                        {% if r.stars > s %}
                                        <i class="fa-solid fa-star"></i>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonials End -->
    
    <!-- Blogs Start -->
    <section class="py-64">
        <div class="container-fluid">
            <div class="heading mb-48">
                <h3 class="font-sec color-primary">blogs :</h3>
                <h2>READ EXCITING STORIES</h2>
            </div>
            <div class="blogs-slider">
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_1.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_2.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_3.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_4.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-card mb-32 box-blur-bg">
                    <div class="content b-radius-20">
                        <span class="date">12-Oct-2024</span>
                        <img src="{% static 'assets/media/blogs/blog_2.png' %}" alt="" class="blog-img">
                        <div class="text-block">
                            <a href="{% url 'blog_detail' %}" class="mb-16 h6">Blog title goes here</a>
                            <p class="mb-40">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placera...</p>
                            <div class="bottom-row">
                                <div class="author">
                                    <img src="{% static 'assets/media/users/author.png' %}" alt="" class="author-img">
                                    <p>Julia Fernandez</p>
                                </div>
                                <a href="{% url 'blog_detail' %}" class="ui-link-arrow"><i class="fa-light fa-arrow-right arrow" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blogs End -->

    <!-- Gallery Start -->
    <section class="py-64">
        <div class="heading mb-48">
            <h3 class="font-sec color-primary">instagram :</h3>
            <h2>TRAVEL GALLERIES</h2>
        </div>
        <div class="gallery-slider">
            {% for p in gallery %}
            <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
            {% endfor %}
            {% for p in gallery %}
            <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
            {% endfor %}
        </div>
    </section>
    <!-- Gallery End -->
</div>
<script>
    var passengersBtn = document.getElementById('passengers_btn');
    var passengersList = document.getElementById('passengers_btn_list');

    passengersBtn.addEventListener('click', function(event) {
        var isOpen = passengersBtn.classList.contains('open');
        
        if (!isOpen) {
            passengersBtn.classList.add('open');
        } else {
            passengersBtn.classList.remove('open');
        }

        event.stopPropagation();
    });

    document.addEventListener('click', function(event) {
        var targetElement = event.target;

        if (targetElement !== passengersList && !targetElement.closest('#passengers_btn')) {
            passengersBtn.classList.remove('open');
        }
    });

    passengersList.addEventListener('click', function() {
        passengersBtn.classList.remove('open');
    })

</script>
<script>
    function plusPassenger(btn) {
        let btn_text = btn.previousElementSibling
        btn_text.textContent = parseInt(btn_text.textContent) + 1
        if (btn_text.id != 'main_passenger') {
            if (parseInt(btn_text.textContent) > 0) {
                btn.parentElement.children[0].classList.remove('disabled')
            }
        } else {
            if (parseInt(btn_text.textContent) > 1) {
                btn.parentElement.children[0].classList.remove('disabled')
            }
        }
    }
    function minusPassenger(btn) {
        let btn_text = btn.nextElementSibling
        if (btn_text.id != 'main_passenger') {
            if (parseInt(btn_text.textContent) > 0) {
                btn_text.textContent = parseInt(btn_text.textContent) - 1
                if (parseInt(btn_text.textContent) < 1) {
                    btn.parentElement.children[0].classList.add('disabled')
                }
            }
        } else {
            if (parseInt(btn_text.textContent) > 1) {
                btn_text.textContent = parseInt(btn_text.textContent) - 1
                if (parseInt(btn_text.textContent) < 2) {
                    btn.parentElement.children[0].classList.add('disabled')
                }
            }
        }
    }
</script>
<script>
    function selectClass(btn, e) {
        let input = btn.children[0]

        
        if (e.target != input) {
            Array.from(document.querySelectorAll('.class-option')).forEach(function (i) {
                i.children[0].checked = false
            })
            if (input.checked) {
                input.checked = false
            } else {
                input.checked = true
            }
        } else {
            if (!e.target.checked) {
                e.target.checked = true
            }
            Array.from(document.querySelectorAll('.class-option')).forEach(function (i) {
                if (i.children[0] != input) {
                    i.children[0].checked = false
                }
            })
        }
    }
</script>
<script>
    flatpickr("#date_input", {
        mode: "range",
        dateFormat: "d-m-Y",
        minDate: "today",
    });
</script>
<script>
    document.querySelector(".tour-booking-form").addEventListener("submit", function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        var data = {};
        formData.forEach(function(value, key){
            data[key] = value;
        });
        var options = ['economy', 'business', 'comfort', 'first_grade'];
        var availableOption = options.find(option => Object.keys(data).includes(option));
        data['class'] = availableOption
        
        data['adults'] = document.querySelector("#main_passenger").textContent
        data['children'] = document.querySelector("#children").textContent
        data['babies'] = document.querySelector("#babies").textContent

        window.location = `{% url 'tour_booking' %}?departure=${data['departure']}&destination=${data['destination']}&class=${data['class']}&date=${data['date']}&adults=${data['adults']}&children=${data['children']}&babies=${data['babies']}`
    });    
</script>
{% endblock %}