{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">TOUR DETAIL</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="tour-detail">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-16">{{ tour.title }}</h2>
                    <div class="price-rating mb-24">
                        <h5 class="color-primary">${{ tour.price }}/person</h5>
                    </div>
                    <p class="mb-32">{{ tour.text }}</p>
                    <div class="box-blur-bg mb-64">
                        <div class="b-radius-20 tour-detail-features">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-lg-7 col-sm-7 mb-24 mb-sm-0">
                                    <h5 class="mb-16">TRIP DETAIL</h5>
                                    <ul class="unstyled">
                                        <li class="mb-16"><p>From: Tashkent, Uzbekistan</p></li>
                                        <li class="mb-16"><p>Destination: {{ tour.destination }}</p></li>
                                        <li class="mb-16"><p>Departure Time: {{ tour.departure_time }}</p></li>
                                        <li><p>Return Time: {{ tour.return_time }}</p></li>
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-sm-5">
                                    <h5 class="mb-16">SERVICES PROVIDED</h5>
                                    <ul class="unstyled">
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-location-crosshairs"></i><p>Departure</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-calendar"></i><p>{{ tour.days }} Days</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-user"></i><p>{{ tour.persons }} Person</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-map-location-dot"></i><p>Guides</p></li>
                                        <li class="d-flex align-items-center"><i class="color-primary me-2 fa-light fa-kit-medical"></i><p>First Aid</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-blur-bg mb-48">
                        <img src="{% static 'assets/media/tour/tour-detail-2.png' %}" alt="" class="b-radius-20">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-9 col-xl-10 col-md-11">
                    <h2 class="mb-24">ADDITIONAL INFO</h2>
                    <p class="mb-64">{{ tour.descriprion }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
{% endblock %}