{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">TOUR DETAIL</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="tour-detail">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-16">FRESH WATER LAKE</h2>
                    <div class="price-rating mb-24">
                        <h5 class="color-primary">$300/person</h5>
                    </div>
                    <p class="mb-32">Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor. Sed sed in suscipit lorem. Ut felis velit tristique posuere tellus sed. Arcu convallis nam massa leo viverra volutpat facilisis. Nulla sagittis nam pellentesque sagittis in turpis nulla et. Lorem ipsum dolor sit amet consectetur. Aliquam in neque eleifend placerat scelerisque tincidunt erat porttitor.</p>
                    <div class="box-blur-bg mb-64">
                        <div class="b-radius-20 tour-detail-features">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-lg-7 col-sm-7 mb-24 mb-sm-0">
                                    <h5 class="mb-16">TRIP DETAIL</h5>
                                    <ul class="unstyled">
                                        <li class="mb-16"><p>Destination: Banff National Park, Canada</p></li>
                                        <li class="mb-16"><p>Departure: Banff National Park, Canada </p></li>
                                        <li class="mb-16"><p>Departure Time: 9:00 AM Tuesdays 09 2024</p></li>
                                        <li class="mb-16"><p>Age Restriction: 13+</p></li>
                                        <li><p>Return Time: 10:00 PM Tuesdays 09 2024</p></li>
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-sm-5">
                                    <h5 class="mb-16">SERVICES PROVIDED</h5>
                                    <ul class="unstyled">
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-location-crosshairs"></i><p>Departure</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-calendar"></i><p>6 Days</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-user"></i><p>6 Person</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-map-location-dot"></i><p>Guides</p></li>
                                        <li class="d-flex align-items-center"><i class="color-primary me-2 fa-light fa-kit-medical"></i><p>First Aid</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-blur-bg mb-48">
                        <img src="{% static 'assets/media/tour/tour-detail-2.png' %}" alt="" class="b-radius-20">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-9 col-xl-10 col-md-11">
                    <h2 class="mb-24">ADDITIONAL INFO</h2>
                    <p class="mb-24">Lorem ipsum dolor sit amet consectetur. Ultrices pretium malesuada nisi arcu egestas at ac consectetur enim. Sollicitudin ultrices morbi adipiscing scelerisque accumsan erat quam pharetra quisque. In sem gravida in magna. Diam sodales sodales malesuada senectus enim nullam. Est bibendum commodo et sit cursus gravida dignissim. Et aliquet consectetur lectus amet ac cras etiam.</p>
                    <p class="mb-64">Convallis vitae commodo quis a integer. Lectus facilisis non vel vel sit. Turpis enim feugiat tincidunt neque cursus proin amet eleifend sagittis. Magna eget facilisi posuere dignissim neque. In dui cursus sed elementum iaculis amet rhoncus odio quam. Erat curabitur risus augue mollis diam aliquet quis. Commodo vitae parturient mi nibh porttitor feugiat faucibus mauris. Imperdiet ut ultricies vehicula velit adipiscing aenean mattis. Morbi suspendisse amet.</p>
                </div>
            </div>
            <h2 class="mb-48">GALLERY</h2>
            <div class="row row-gap-4">
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_1.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_2.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_3.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_4.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_5.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_6.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_1.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{% static 'assets/media/gallery/gallery_2.png' %}" class="br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-4 col-6 d-lg-none d-sm-block d-none">
                    <img src="{% static 'assets/media/gallery/gallery_3.png' %}" class="br-30" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
{% endblock %}