{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">COUNTRY HOUSES LIST</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <!-- <form onsubmit="sendAjaxFilter(event)" class="filter-row mb-48">
            {% csrf_token %}
            <div class="search-filters">
                <div class="form-group">
                    <select name="select" class="has-nice-select cus-form-control">
                        <option selected="selected" disabled="disabled">Tashkent, Uzbekistan</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="destination" name="destination" class="has-nice-select cus-form-control">
                        <option {% if not active_tours.destination %}selected{% endif %} value="all">Select Destination</option>
                        {% for d in destinations %}
                        <option {% if active_tours.destination == d.slug %}selected{% endif %} value="{{ d.slug }}">{{ d.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="tour_type" name="tour_type" class="has-nice-select cus-form-control">
                        <option {% if not active_tours.tour_type %}selected{% endif %} value="all">Select Type</option>
                        {% for t in tour_types %}
                        <option {% if active_tours.tour_type == t.slug %}selected{% endif %} value="{{ t.slug }}">{{ t.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ui-btn ui-btn-primary">
                    <button type="submit" data-hover="FIND NOW">FIND NOW</button>
                </div>
            </div>
            <div class="price-filter">
                <input type="text" class="range-slider" value="0" id="{{ min_price }}-{{ max_price }}">
            </div>
        </form> -->
        <div>
            <div class="row tours-wrapper">
                {% include 'includes/tours.html' %}
            </div>
            
            <!-- Pagination Start -->
            <ul class="pagination text-center">
                <li class="prev"><a onclick="prevPage(event)" href="#"><i class="fa-light fa-arrow-left"></i></a></li>
                <li class="active"><a id="btn_1" onclick="setPage(1, event, this)" href="#">1</a></li>
                <li class="next"><a onclick="nextPage(event)" href="#"><i class="fa-light fa-arrow-right"></i></a></li>
            </ul>
            <!-- Pagination End -->
        </div>
    </div>
</section>
<script>
    function sendAjaxFilter(event) {
        event.preventDefault();
        let destination = document.getElementById('destination').value;
        let tour_type = document.getElementById('tour_type').value;
        let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        let price_from = document.querySelector('.irs-from').textContent
        let price_to = document.querySelector('.irs-to').textContent

        $.ajax({
            url: "{% url 'country_houses' %}",
            type: "post",
            data: {'destination': destination, 'tour_type': tour_type, 'price_from': price_from, 'price_to': price_to},
            success: function(response) {
                $('.tours-wrapper')[0].innerHTML = response
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                console.error(error);
            },
            headers: {
                'X-CSRFToken': csrfToken
            },
        });
    }
</script>
<script>
    let btns_wrapper = document.querySelector('.pagination')
    let next_btn = document.querySelector('.next')
    let current_page = 1
    let tours = document.querySelectorAll('.tour')

    function configurePagination() {
        let current_page = 1
        let tours = document.querySelectorAll('.tour')
        let pages = Math.floor((tours.length / 8))
    
        for (let i = 0; i < pages; i++) {
            let new_li = document.createElement('li')
            let new_a = document.createElement('a')
            new_a.id = `btn_${i + 2}`
            new_a.setAttribute('onclick', `setPage(${i+2}, event, this)`)
            new_a.textContent = i + 2
            new_a.href = '#'
            new_li.append(new_a)
            btns_wrapper.insertBefore(new_li, next_btn)
        }
    
        for (let i = 0; i < 8; i++) {
            if (tours[i]) {
                tours[i].hidden = false
            }
        }
    }
    configurePagination()

    function setPage(page, e, this_btn) {
        e.preventDefault()
        current_page = page
        let index_a = current_page * 8 - 8
        let index_b = current_page * 8

        tours.forEach(function (tour) {
            tour.hidden = true
        })

        for (let i = index_a; i < index_b; i++) {
            if (tours[i]) {
                tours[i].hidden = false
            }
        }

        document.querySelector('.active').classList.remove('active')
        this_btn.parentElement.classList.add('active')
    }

    function nextPage(e) {
        let btn = document.querySelector(`#btn_${current_page+1}`)
        if (current_page != Math.floor((tours.length / 8))+1) {
            setPage(current_page+1, e, btn)
        } else {
            e.preventDefault()
        }
    }

    function prevPage(e) {
        let btn = document.querySelector(`#btn_${current_page-1}`)
        console.log(current_page)
        if (current_page != 1) {
            setPage(current_page-1, e, btn)
        } else {
            e.preventDefault()
        }
    }
</script>
<!-- Blogs End -->
{% endblock %}