{% extends 'base.html' %}


{% block content %}
{% load static %}
{% load i18n %}
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">{% trans 'COUNTRY HOUSE DETAIL' %}</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="tour-detail">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="mb-16">{{ country_house.title }}</h2>
                        <div class="ui-btn ui-btn-primary">
                            <a href="{% url 'country_house_booking' %}?country_house={{ country_house.slug }}" data-hover="{% trans 'APPLY' %}">{% trans 'APPLY' %}</a>
                        </div>
                    </div>
                    <div class="price-rating mb-24">
                        <h5 class="color-primary">${{ country_house.price }}/{% trans 'day' %}</h5>
                    </div>
                    <div class="box-blur-bg mb-64">
                        <div class="b-radius-20 tour-detail-features">
                            <div class="row justify-content-between">
                                <h5 class="mb-16">{% trans 'SERVICES PROVIDED' %}</h5>
                                <div class="col-xl-6 col-lg-5 col-sm-5">
                                    <ul class="unstyled">
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-map-marker"></i><p>{% trans 'Location' %}: {{ country_house.location }}</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-house"></i><p>{% trans 'Rooms' %}: {{ country_house.rooms }}</p></li>
                                        {% if country_house.have_playstation %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-gamepad"></i><p>{% trans 'Play Station' %}</p></li>
                                        {% endif %}
                                        {% if country_house.have_tenis %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-circle"></i><p>{% trans 'Mini Tennis' %}</p></li>
                                        {% endif %}
                                        {% if country_house.have_sauna %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-check"></i><p>{% trans 'Sauna' %}</p></li>
                                        {% endif %}
                                        {% if country_house.have_terrace %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-check"></i><p>{% trans 'Terrace' %}</p></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-sm-5">
                                    <ul class="unstyled">
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-phone"></i><p>{% trans 'Phone Number' %}: {{ country_house.phone_number }}</p></li>
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-users"></i><p>{% trans 'Persons' %}: {{ country_house.capacity }}</p></li>
                                        {% if country_house.have_tv %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-television"></i><p>{% trans 'TV' %}</p></li>
                                        {% endif %}
                                        {% if country_house.have_karaoke %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-microphone"></i><p>{% trans 'Karaoke' %}</p></li>
                                        {% endif %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-life-ring"></i><p>{% trans 'Pool' %}: {{ country_house.pool }}</p></li>
                                        {% if country_house.have_tapchan %}
                                        <li class="d-flex align-items-center mb-16"><i class="color-primary me-2 fa-light fa-check"></i><p>{% trans 'Outdoor Day Bed' %}</p></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-blur-bg mb-48">
                        <iframe style="width: 100%; aspect-ratio: 1.5;" src="{{ country_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-9 col-xl-10 col-md-11">
                    <h2 class="mb-24">{% trans 'ADDITIONAL INFO' %}</h2>
                    <p class="mb-64">{{ country_house.description }}</p>
                </div>
            </div>
            <h2 class="mb-48">{% trans 'GALLERY' %}</h2>
            <div class="gallery-slider">
                {% for p in country_images %}
                <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
                {% endfor %}
                {% for p in country_images %}
                <div class="gallery-img-block" style="cursor: pointer;"><img src="/media/{{ p.image }}" alt=""></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
{% endblock %}