{% extends 'base.html' %}


{% block content %}
{% load i18n %}
<style>
    .form-group button {
        color: #FFFCFA;
        border: 1px solid #FFFCFA;
        width: 100%;
        background: transparent;
        padding: 15px;
        height: clamp(42px, 2.917vw, 72px);
        display: flex;
        border-radius: 0.781vw;
        align-items: center;
    }
    .flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay {
        background: #F95C19;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        border-color: #F95C19;
    }
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
        -webkit-box-shadow: -10px 0 0 #F95C19;
        box-shadow: -10px 0 0 #F95C19
    }
    .flatpickr-day.week.selected {
        border-radius: 0;
        -webkit-box-shadow: -5px 0 0 #F95C19,5px 0 0 #F95C19;
        box-shadow: -5px 0 0 #F95C19,5px 0 0 #F95C19
    }
</style>
<!-- Page Header Start-->
<section class="page-header">
    <h1 class="color-white">{% trans 'UMRAH BOOKING' %}</h1>
</section>
<!-- Page Header End-->

<!-- Blogs Start -->
<section class="py-64">
    <div class="container-fluid">
        <div class="tour-booking">
            <div class="row">
                <div class="col-xl-5 mb-48 mb-xl-0">
                    <h3 class="text-uppercase mb-48">{% trans 'Please fill out the form to book your Umrah trip' %}</h3>
                    <form action="{% url 'country_house_booking' %}" class="umrah-booking-form">
                        {% csrf_token %}
                        <div class="row booking-from">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input required name="date" type="date" id="date_input" placeholder="{% trans 'Select Days' %}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="nice-select2 cus-form-control" id="passengers_btn" tabindex="0">
                                        <span class="current" id="passengers_text">{% trans 'Select Passengers' %}</span>
                                        <ul id="passengers_btn_list" class="list">
                                            <li data-value="{% trans 'Select Passengers' %}" class="option selected disabled focus" style="font-size: 17px;">{% trans 'Select Passengers' %}</li>
                                            <li class="option d-flex justify-content-between">
                                                <p>{% trans 'Adults (12+ y.o)' %}</p>
                                                <div class="d-flex gap-2 align-items-center">
                                                    <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                                    <p style="font-size: 17px;" id="main_passenger">1</p>
                                                    <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                                </div>
                                            </li>
                                            <hr style="color: #F95C19;">
                                            <li class="option d-flex justify-content-between">
                                                <p>{% trans 'Children (2-11 y.o)' %}</p>
                                                <div class="d-flex gap-2 align-items-center">
                                                    <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                                    <p style="font-size: 17px;" id="children">0</p>
                                                    <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                                </div>
                                            </li>
                                            <hr style="color: #F95C19;">
                                            <li class="option d-flex justify-content-between">
                                                <p>{% trans 'Babies (under 2 y.o)' %}</p>
                                                <div class="d-flex gap-2 align-items-center">
                                                    <button onclick="minusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0 disabled" style="height: 32px; width: 32px;">-</button>
                                                    <p style="font-size: 17px;" id="babies">0</p>
                                                    <button onclick="plusPassenger(this)" type="button" class="ui-btn ui-btn-primary mx-auto ms-md-0" style="height: 32px; width: 32px;">+</button>
                                                </div>
                                            </li>
                                            <li data-value="Service Class" class="option selected disabled focus" style="font-size: 17px;">{% trans 'Service Class' %}</li>
                                            <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                                <input name="economy" checked type="checkbox">
                                                <p>{% trans 'Economy' %}</p>
                                            </li>
                                            <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                                <input name="comfort" type="checkbox">
                                                <p>{% trans 'Comfort' %}</p>
                                            </li>
                                            <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                                <input name="business" type="checkbox">
                                                <p>{% trans 'Business' %}</p>
                                            </li>
                                            <li onclick="selectClass(this, event)" class="class-option option d-flex flex-row-reverse justify-content-between align-items-center">
                                                <input name="first_grade" type="checkbox">
                                                <p>{% trans 'First Grade' %}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="full-name" required placeholder="{% trans 'Full Name' %}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" name="tel" required placeholder="{% trans 'Phone' %}">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" rows="5" placeholder="{% trans 'Additional message' %}"></textarea>
                                </div>
                            </div>
                            <button type="submit" id="booking_submit" class="ui-btn ui-btn-primary w-100">
                                <span data-hover="{% trans 'Book Umrah Trip' %}">{% trans 'Book Umrah Trip' %}</span>
                            </button>
                        </div>  
                        <div id="success_message"></div>
                    </form>
                </div>
                <div class="col-xl-7">
                    <div class="box-blur-bg">
                        <div class="b-radius-20 bg-white p-24 contact-block">
                            <div class="contact-info">
                                <div class="mb-48">
                                    <h5 class="mb-12">{% trans 'CONTACT INFO' %}</h5>
                                    <p>P: <a href="tel:{{ contact.phone_number }}">{{ contact.phone_number }}</a></p>
                                    <p>E: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                                </div>
                                <div class="mb-48">
                                    <h5 class="mb-12">{% trans 'LOCATION' %}</h5>
                                    <p>L: {{ contact.location }}</p>
                                </div>
                                <div class="mb-48">
                                    <h5 class="mb-12">{% trans 'OPENING HOUR' %}</h5>
                                    <p><span class="me-5">{{ contact.working_days }}</span>{{ contact.working_hours }}<span></span></p>
                                </div>
                                <div>
                                    <h5 class="mb-12">{% trans 'COMPANY DETAILS' %}</h5>
                                    <p>{% trans 'LLC "East2West"' %}</p>
                                    <p>{% trans '158 Muqimiy, Chilanzar' %}</p>
                                    <p>{% trans 'Tashkent, 100043' %}</p>
                                    <p>{% trans 'АО «Anor Bank» MFO code: 01183' %}</p>
                                    <p>{% trans '20208000905593005001' %}</p>
                                    <p>{% trans 'STIR 310055757' %}</p>
                                </div>
                            </div>
                            <iframe src="{{ google_map_url }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    let date = "{{ request.GET.date }}".split(" to ")
    flatpickr("#date_input", {
        mode: "range",
        dateFormat: "d-m-Y",
        minDate: "today",
        defaultDate: [date[0], date[1]],
    });
</script>
<script>
    var passengersBtn = document.getElementById('passengers_btn');
    var passengersList = document.getElementById('passengers_btn_list');

    passengersBtn.addEventListener('click', function(event) {
        var isOpen = passengersBtn.classList.contains('open');
        
        if (!isOpen) {
            passengersBtn.classList.add('open');
        } else {
            passengersBtn.classList.remove('open');
        }

        event.stopPropagation();
    });

    document.addEventListener('click', function(event) {
        var targetElement = event.target;

        if (targetElement !== passengersList && !targetElement.closest('#passengers_btn')) {
            passengersBtn.classList.remove('open');
        }
    });

    passengersList.addEventListener('click', function() {
        passengersBtn.classList.remove('open');
    })

</script>
<script>
    function plusPassenger(btn) {
        let btn_text = btn.previousElementSibling
        btn_text.textContent = parseInt(btn_text.textContent) + 1
        if (btn_text.id != 'main_passenger') {
            if (parseInt(btn_text.textContent) > 0) {
                btn.parentElement.children[0].classList.remove('disabled')
            }
        } else {
            if (parseInt(btn_text.textContent) > 1) {
                btn.parentElement.children[0].classList.remove('disabled')
            }
        }
    }
    function minusPassenger(btn) {
        let btn_text = btn.nextElementSibling
        if (btn_text.id != 'main_passenger') {
            if (parseInt(btn_text.textContent) > 0) {
                btn_text.textContent = parseInt(btn_text.textContent) - 1
                if (parseInt(btn_text.textContent) < 1) {
                    btn.parentElement.children[0].classList.add('disabled')
                }
            }
        } else {
            if (parseInt(btn_text.textContent) > 1) {
                btn_text.textContent = parseInt(btn_text.textContent) - 1
                if (parseInt(btn_text.textContent) < 2) {
                    btn.parentElement.children[0].classList.add('disabled')
                }
            }
        }
    }
</script>
<script>
    function selectClass(btn, e) {
        let input = btn.children[0]

        
        if (e.target != input) {
            Array.from(document.querySelectorAll('.class-option')).forEach(function (i) {
                i.children[0].checked = false
            })
            if (input.checked) {
                input.checked = false
            } else {
                input.checked = true
            }
        } else {
            if (!e.target.checked) {
                e.target.checked = true
            }
            Array.from(document.querySelectorAll('.class-option')).forEach(function (i) {
                if (i.children[0] != input) {
                    i.children[0].checked = false
                }
            })
        }
    }
</script>
<!-- Blogs End -->
{% endblock %}